<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body style="background-color: #ccccff">
        <h1 style="color:#33ccff; font-family: Comic Sans MS, Comic Sans, cursive;">Drinkit</h1>


        <ol>
            <li th:each="drinkki: ${drinkit}">
                <span style="color: #990099; font-family: fantasy;" th:text="${drinkki.nimi}">drinkin nimi</span> 
                <form th:action="@{~/delete/{id}(id=${drinkki.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>

        <h2 style="color: #ff6666; font-family: papyrus;">Lisää uusi</h2>
        <form method="POST" action="/drinkit">
            <span>Drinkin nimi:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
        
        <h4>Lisää raaka-aineita</h4>
        <form method="POST" action="/drinkit">
      Drinkin nimi:<br/>
      <select name="drinkki">
        <option name="/drinkki.nimi">White russian</option>
        
      </select>
      <br/>
      Lisättävä raaka-aine<br/>
      <select name="raakaAine">
        <option name="1">Appelsiini</option>
        <option name="2">Banaani</option>
        <option name="...">...</option>
      </select>
      <br/>
      Järjestys<br/>
      <input type="text"/><br/>
      Määrä<br/>
      <input type="text"/><br/>
      Ohje<br/>
      <input type="text"/><br/>
      <input type="submit" value="Lisää"/>
  </form>
        
        
            
        <p><a style="color: #33ff00; font-family: Comic Sans MS, Comic Sans, fantasy;" href="/">Takaisin</a></p>
        
    </body>
</html>