<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Drinksuja!</title>
        <meta charset="utf-8" />
        <style>
            h1, h2, h4, a {color:#48fff2; font-family: Comic Sans MS, Comic Sans;}
            li, span, form {color: #990099; font-family: fantasy; font-style: italic}
            
        </style>
    </head>

    <body style="background-color: #ccccff">
        <h1>Drinkit</h1>

        <!-- Drinkkien listaus ja poisto -->
        <ol>
            <li th:each="drinkki: ${drinkit}">
                <span th:text="${drinkki.nimi}">drinkin nimi</span> 
                <form th:action="@{~/delete/{id}(id=${drinkki.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>
        <!---->
        
        <!-- Drinkkien lisääminen -->
        <h2>Lisää uusi</h2>
        <form method="POST" action="/drinkit">
            <span>Drinkin nimi:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        <!---->
        
        
        <!-- Raaka-aineiden lisääminen drinkkeihin-->
        <h4>Lisää raaka-aineita</h4>
        <form method="POST" action="/drinkit/lisaa-raaka-aine">
            Drinkin nimi:<br/>
            <select name ="lisaadrinkki"> <option th:each="drinkki : ${drinkit}" th:text="${drinkki.nimi}" th:value="${drinkki.id}">

                </option>

            </select>
            <br/>
            Lisättävä raaka-aine<br/>

             <select name="lisaaraakaaine"> <option th:each="raakaaine : ${raakaaineet}" th:text="${raakaaine.nimi}" th:value="${raakaaine.id}">
                </option>
            </select>

            <!-- <br/>
            Järjestys<br/>
            <input type="text" name="jarjestys"/> --> <br/>
            Määrä<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        <!---->


        <p><a href="/">Takaisin</a></p>

    </body>
</html>