<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkkilista!</title>
        <meta charset="utf-8" />
    </head>

    <body style="background-color: #ccffcc">
        <h1 style="color:#33ccff; font-family:Comics Sans MS;">Drinkkilista!</h1>

        <ol>
            <li th:each="drinkki: ${drinkit}">
                <span style="color: #ff5900; font-family: monospace, Comic Sans MS;" th:text="${drinkki.nimi}">drinkin nimi</span> 
                <a style="font-family: fantasy" th:href="${'/drinkit/' + drinkki.id + '/' + drinkki.nimi}">-></a>
            </li>
        </ol>
        <p><a style="color: #ff00f9; font-family: papyrus" href="/drinkit">Muokkaa drinkkejä.</a></p>
        <p><a style="color: #001dff; font-family: papyrus" href="/raakaaineet">Muokkaa raaka-aineita</a></p>
        <p><a style="color: #0216ae; font-family: papyrus" href="/tilastot">Lue tilastoja raaka-aineiden käytöstä.</a></p>
    </body>
</html>

