<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body style="background-color: #ccccff">
        <h1 style="color:#33ccff; font-family: Comic Sans MS, Comic Sans, cursive;">Raaka-aineet</h1>


        <ol>
            <li th:each="raakaaine: ${raakaaineet}">
                <span th:text="${raakaaine.nimi}">raaka-aineen nimi</span>
                <form th:action="@{~/deletera/{id}(id=${raakaaine.id})}" method="POST">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ol>



        <h2 style="color: #ff6666; font-family: papyrus;">Lisää uusi</h2>
        <form method="POST" action="/raakaaineet">
            <span>Raaka-aineen nimi:</span><br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <p><a style="color: #33ff00; font-family: Comic Sans MS, Comic Sans, fantasy;" href="/">Takaisin</a></p>

    </body>
</html>